
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Expired</title>
</head>
<body>
    <div> 
        <h1 style="color:red;">YOUR SESSION HAS BEEN EXPIRED. PLEASE LOGIN AGAIN</h1>
    </div>
    @Html.ActionLink("user_login","user_login", "login")
</body>
</html>
