<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Custom")
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 60%;
}
    

</style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           
                            <li class="dropdown-item ">
                                
                                <a href="/item_unit/item_unit"> Item Unit</a>
                               
                            </li>

                           <li class="dropdown-divider"></li>

                            <li class="dropdown-item">
                                <a href="/item_company/item_company">Item Company</a>
                            </li>
                            <li class="dropdown-divider"></li>

                            <li class="dropdown-item">
                                <a href="/item_group/item_group">Item Group</a>
                            </li>
                            
                            <li class="dropdown-divider"></li>

                            <li class="dropdown-item">
                                <a href="/material_centre/material_centre">Material Centre</a>
                            </li>

                            <li class="dropdown-divider"></li>
                            
                            <li class="dropdown-item">
                                <a href="/state/state">State</a>
                            </li>
                            <li class="dropdown-divider"></li>


                            <li class="dropdown-submenu">
                                
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Item Informtaion</a>
                                
                                <ul class="dropdown-menu">

                                    <a class="dropdown-item" href="/item_information/Add_item">Add</a>

                                    <a class="dropdown-item" href="#">Delete</a>
                                    <a class="dropdown-item" href="/item_information/Item_list">List</a>

                                </ul>
                            
                            </li>
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transaction
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Purchase Order</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Add</a>

                                    <a class="dropdown-item" href="#">Moidfy</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu  ">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Sale Order</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Moidfy</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu  ">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Purchase</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Add</a>

                                    <a class="dropdown-item" href="#">Moidfy</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </ul>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu  ">
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Sale </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Add</a>

                                    <a class="dropdown-item" href="#">Moidfy</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        
    </div>

    <div style="background-color:lightcyan;">

        @RenderBody()

    </div>

</body>
</html>
